@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;600&display=swap');

body{
    font-family: 'Karla', sans-serif;
    background-color: #636261;
    /* background-color: black; */
}

/* Header styling */
header{
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    color: white;
}

.header-bar {
    background-color: #636261;
    height: 80px;
}

#title{
    float: left;
    color: inherit;
    text-decoration: none;
}

#nav-menu{
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#nav-menu li{
    display: inline;
    padding: 5px;
}

#nav-menu a{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
}

/* Footer styling */

footer{
    color: white;
    text-align: center;
}

.footer-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #636261;;
    height: 40px;
}
.footer-bar h3{
    display: inline;
}

#copyright{
    float:left;
}

#insta-logo{
    color: white;
}


#home-content{
    position: relative;
    text-align: center;
    float: right;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

#home-content img{
    float: right;
    height: auto;
    width: 60%;
}

/* bio styling */
.bio{
    position: absolute;
    top: 20%;
    right: 50%;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.bio a{
    color: inherit;
}

/* contact form styling */

#form-container{
    position: relative;
    max-width: 700px;
    margin: auto;
        padding: 50px;
    background-color: rgba(0, 0, 0, 0.493);
}

input[type=text],input[type=email], select, textarea{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 5px;
    resize: vertical;
}

textarea{
    max-height:400px;
}

/* gallery image styling */

.vertical{
    width: 384px;
    height: 571px;
}

.horizontal{
    width: 571px;
    height: 384px;
}

.collection{
    clear: both;
    display:inline-block;
    padding: 0px;
    margin: 0px;
}
section h3{
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
    width: 20%;
}

.collection img{
    padding: 10px;
    margin: 2px;
    background-color: white;
}

.collection .col1{
    float: left;
    margin-left: 10%;
    width: 33%;
    height: auto;
}

.collection .col2{
    float: right;
    margin-right: 10%;
    width: 33%;
    height: auto;
}


