/* Header styling */
header{
    color: white;
}

.header-bar {
    background-color: black;
    height: 150px;
}

#title{
    position:relative;
    top: 60px;
}

#nav-menu{
    position:relative;
    left: 90%;
}
