@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;600&display=swap');

body{
    font-family: 'Karla', sans-serif;
    background-color: #3D3D3E;
    margin-bottom: 40px;
    clear: both;
}

/* Header styling */
header{
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    color: #BFD7EA;
    background-color: #3D3D3E;
}

#title{
    float: left;
    color: inherit;
    text-decoration: none;
    letter-spacing: 10px;
}

#nav-menu{
    float: right;
    list-style-type: none;
    margin-right: 20px;
    letter-spacing: 5px;
}

#nav-menu li{
    display: inline;
    padding: 10px;
}

#nav-menu a{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
}

#nav-menu a:hover{
    background-color: #262a2ea4;
    border-radius: 5px;
}

.active{
    background-color: #67747ea4;
    border-radius: 5px;
    padding: 2px;
}

/* Footer styling */

footer{
    color: #BFD7EA;
}

.footer-bar{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #3D3D3E;
    height: 10px;
}
.footer-bar h3{
    display: inline-block;
    letter-spacing: 5px;
}

/* cover image styling */

#cover-image{
    height: 40vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-image img{
    width: 100%;
    height: auto;

}

/* bio styling */
.bio{
    background-color: #5E747F;
    color: white;
    width: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    border-radius: 10px;
    text-align: center;

    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 7px;
    line-height: 30px;
}

.bio a{
    color: inherit;
}

.bio #social-links a{
    text-decoration: none;
    color: inherit;
    letter-spacing: 50px;
}

.bio #social-links i{
    font-size: 200%;
}

#bio-par3{
    background-color: #3D3D3E; 
}

.bio a:hover, .bio i:hover{
    color: #6395bd;
}

/* teaser images styling */

.teaser{
    height:auto;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.teaser-image{
    display: inline-block;
    clear: both;
    overflow: hidden;
}

.teaser-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    border-radius: 5px;
    background-color: #BFD7EA;
    padding: 5px;
}

/* contact form styling */

#form-container{
    clear: both;
    position: relative;
    max-width: 30%;
    margin: auto;
    border-radius: 25px;
    padding: 50px;
    background-color: #5E747F;
}

#form-container #contact-desc{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 7px;
    line-height: 30px;
}

input[type=text],input[type=email], select, textarea{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 5px;
    resize: vertical;
}

textarea{
    max-height:400px;
}

/* gallery image styling */

.vertical{
    width: 384px;
    height: 571px;
}

.horizontal{
    width: 571px;
    height: 384px;
}

.collection{
    clear: both;
    padding: 0px;
    margin-top: 40px;
}

.collection img{
    padding: 10px;
    margin: 20px;
    width: 40%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.891);
}

.collection .pic-row{
    display:flex;
    justify-content: center;
    align-items: center;
}